.permission_toggleFold {
  vertical-align: middle;
  padding-right: 5px;
  font-size: 16px;
  cursor: pointer;
}
.permission_placeholder {
  content: ' ';
  display: inline-block;
  width: 16px;
  font-size: 16px;
}
.init_table {
  margin: 0 auto !important;
}
.m-r {
  float: right;
  margin-right: 10px;
}
.input-box {
  width: 200px;
  margin: 0 2px;
}
