body .el-table th.gutter {
  display: table-cell !important;
}
body .el-table colgroup.gutter {
  display: table-cell !important;
}
.el-table .warning-row {
  background: oldlace;
}
.el-table .success-row {
  background: #f0f9eb;
}
.el-table__body {
  width: 100%;
  table-layout: fixed !important;
}

.color--primary{
  color: $--color-primary !important;
}
.color--info{
  color: $--color-info !important;
}
.color--success{
  color: $--color-success !important;
}
.color--warning{
  color: $--color-warning !important;
}
.color--danger{
  color: $--color-danger !important;
}

body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, legend, ol, p, ul {
  margin: 0;
  padding: 0;
}

.margin-top{
  margin-top: 16px !important;
}

.margin-bottom{
  margin-top: 16px !important;
}