.searchFrom-item {
  margin-bottom: 5px;
}
.searchFrom-input {
  width: 200px;
  margin: 0px 2px;
}
.searchFrom-input-2 {
  width: 408px;
  margin: 0px 2px;
}
.m-l-0 {
  margin-left: 2px;
  width: 65px;
  padding: 7px !important;
}
.tag_text {
  margin: 1px 1px 1px 10px;
  font-size: 14px;
  font-weight: 500;
}
.op-btn {
  margin: 0px 2px;
}
.actionTab {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}